.spacer {
    flex: 1 1 auto;
}

.avatar {
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.current {
    background-color: #f44336;
    color: white;
}
.current:hover {
    background-color: #ce362b;
    color: white;
}